table
{
	/* border: 3px solid black; */
	border-radius: 10px;
	align-content: center;
	text-align: center;
	/* background-color: black; */
	width: 300px;
	height: 600px;

}
#screen
{
 	background-color: #001;
 	border-radius: 2px;
 	width: 310px;
 	height: 85px;
 	font-family: lcd;
 	font-size: 50px;
 	color: black;
 	border:2px solid black; 
 	box-sizing: content-box;
}
#screen:hover
{
	cursor: none;
	color: black;
}
#ac
{
	width: 100%;
	height: 50px;
	background-color: tomato;
	border-color: black;
	border-radius: 4px;
	border-collapse: collapse;
	font-size: 30px;
}
#ac:hover
{
	cursor: pointer;
	background-color: red;
	color: black;
	border-radius: 4px;
}
#ce
{
	width: 100%;
	height: 50px;
	border-color: black;
	border-radius: 4px;
	font-size: 30px;
}
#equal
{
	width: 100%;
	height: 50px;
	border-color: black;
	border-radius: 4px;
	font-size: 30px;
}
/* td
{
	border: 1px solid black;
	align-content: center;
	border-collapse: collapse;
	text-align: center;
	
} */
table {
    height: 20px;
    border-radius: 0.5em;
    border: 1px solid #fff;
    box-shadow: 0 0 0.5em #000;
}

td {
    border-radius: 0.5em;
    border: 1px solid #fff;
    box-shadow: 0 0 0.5em #000;
}

td:hover {
    cursor: pointer;
    border: 1px solid rgb(137, 155, 156);
    box-shadow: 0 0 0.8em #000;
    color: #000;
}
input, button
{
	width: 100%;
	height: 40px;
	border-radius: 4px;
	font-size: 20px;
	box-shadow: 0 0 0.5em #000;

	/*align-content: center;border-collapse: collapse;
	text-align: center;*/

}
input, button:hover
{
	cursor: pointer;
	background-color: cyan;
	color: white;
}